ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #152C59;
}

li {
    float: left;
}

#menu {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover:not(.active) {
        background-color: #3E526F;
        color: white;
    }

img {
    width: 125px;
}
