.carousel{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel img{
    width: 100%;
    height: auto;
}

.carousel-container{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item{
    width: 100%;
}